<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />

    <queries>
        <intent>
            <action android:name="android.net.VpnService" />
        </intent>

        <package android:name="com.v2ray.ang" />
        <package android:name="io.github.saeeddev94.xray" />
        <package android:name="io.nekohasekai.sfa" />
        <package android:name="moe.nb4a" />
        <package android:name="com.happproxy" />
        <package android:name="app.hiddify.com" />
        <package android:name="com.github.metacubex.clash.meta" />
        <package android:name="com.github.shadowsocks" />
        <package android:name="com.github.shadowsocks.tv" />
        <package android:name="io.github.dovecoteescapee.byedpi" />
        <package android:name="com.romanvht.byebyedpi" />
        <package android:name="org.outline.android.client" />
        <package android:name="com.psiphon3" />
        <package android:name="org.getlantern.lantern" />
        <package android:name="com.wireguard.android" />
        <package android:name="com.strongswan.android" />
        <package android:name="org.torproject.android" />
        <package android:name="info.guardianproject.orfox" />
        <package android:name="org.torproject.torbrowser" />
        <package android:name="com.termux" />
        <package android:name="org.aspect.tgwsproxy" />
        <package android:name="org.aspect.tgwsproxy.android" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RKNHardering"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
    </application>

</manifest>
